.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.nav-logo {
  font-size: 2em;
  font-weight: 900;
}
.nav-items,
.nav-items ul {
  display: flex;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  margin: 0 20px;
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}
button {
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
  border: none;
  height: fit-content;
  cursor: pointer;
}
